body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #eee;
    color: #000;
    flex-wrap: wrap;
}

.logo img {
    width: 100px;
    height: auto; 
}

.barra-pesquisa {
    display: flex;
    align-items: center;
}

.barra-pesquisa form {
    display: flex;
    align-items: center;
    
}

.barra-pesquisa input {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-left: 5px;
}

.barra-pesquisa img {
    margin-right: 5px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    
}

nav a:hover {
    color: #A02334; 
    text-decoration: underline;
}

.icones {
    display: flex;
    gap: 30px;
}

.icones a {
    color: #000;
    text-decoration: none;
    font-size: 18px; 
}

.barra-separacao {
    width: 100%;
    height: 1rem; 
    background-color: #A02334; 
    margin: 0; 
}